.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 20px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.plusIcon,
.trashIcon,
.clearIcon {
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.521);
        transition: 0.3s;
    }
}
