.wrapper {
    height: 100%;
    width: 100%;
}

.boardWrapper {
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.board {
    position: relative;
    height: inherit;
    width: inherit;
    transform-origin: 0 0;
    transition-property: scale;
    transition-duration: 0.2s;
}
