/* Board styles */
.board {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #c2a98f;
}

/* Plus icon styles */
.plusIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

/* Trash icon styles */
.trashIcon {
    position: absolute;
    top: 15px;
    left: 15px;
}
