.actions {
    --offset: 25px;

    position: absolute;
    right: var(--offset);
    bottom: var(--offset);
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 0.7rem;
    background-color: #8f6f50;
}

.actions :nth-child(1) {
    border-radius: 0.7rem 0 0 0.7rem;
}

.actions :nth-child(3) {
    border-radius: 0 0.7rem 0.7rem 0;
}

.button {
    --size: 2.25rem;

    background-color: transparent;
    border: none;
    height: var(--size);
    width: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #a38f7c;
}
